<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-briefcase"></i> Los Trabajos de Esteban</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <% if current_user.present? && current_user.usuario? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/applies"><i class="fa-solid fa-book"></i> Mis postulaciones</a>

      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar.url, class: "avatar-image", style: "width: 45px; height: 45px;" %>
              <% end %>
              Bienvenido/a <%= current_user.name %>
            <% else %>
            <i class="fa-solid fa-user-secret"></i> Inicia sesión
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <% if user_signed_in? %>
              <li><%= link_to 'Modifica tu usuario', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider" style="border-top: 1px solid #fff;"></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Registro', new_user_registration_path, class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider" style="border-top: 1px solid #fff;"></li>
              <% end %>
              <li><%= button_to 'Cerrar sesión', destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
            <% else %>
              <li><%= link_to 'Iniciar sesión', new_user_session_path, class: 'dropdown-item'%></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
